/* general.tpl + view_post.tpl */

.newsContent {
	margin:0 0 1.5em 0;
}
.newsContent h1 {
	font-size:1.5em;
	font-weight:normal;
	border-bottom:1px solid #ddd;
	margin:0;
	padding:0;
}
.newsContent h1 a {
	text-decoration:none;
}
.newsContent h2 {
	text-align:right;
	font-size:1em;
	font-weight:normal;
	margin:0 0 1em 0;
	padding:0;
}
.newsContent .submessage {
	text-align:right;
	margin:1em 0 0 0;
}
.newsContent .message p {
	margin:0 0 1em 0;
	padding:0;
}
.newsContent .message blockquote {
	margin:1em;
	border-left:3px solid #ddd;
	padding:0 0 0 1em;
}
.newsContent .message pre {
	background-color:#eee;
	border:1px dashed #aaa;
	color:#000;
	margin:1em 0;
	padding:0.3em;
}
.newsContent .message img {
	border-style:none;
}
.newsContent .message ul {
	margin:0 0 1em 2.5em;
	padding:0;
}


/* comments.tpl */

#newsComment ol {
	margin:0;
	padding:0;
	list-style-type:none;
}
#newsComment li {
	border-bottom:1px dashed #aaa;
	margin:0 0 1em 0;
}
#newsComment .submessage {
	text-align:right;
	margin:0.5em 0.5em 0.3em 0;
}
#newsComment h3 {
	margin:3em 0 1em 0;
	padding:0.3em 0.5em;
	font-size:1.2em;
	background-color:#ddd;
	color:#000;
}
#newsComment .message blockquote {
	margin:0 3em 0 2em;
	padding:0;
}




/* note.tpl */

#newsNotice {
	margin:0 0 2em 0;
	background-color:#FFFFE0;
	color:#000;
	padding:0.5em;
}
#newsNotice span {
	font-weight:bold;
	font-size:1.5em;
}


/* comment_form.tpl */

#commentForm {
	margin:3em 0 1em 0;
}
#commentForm h3 {
	margin:0 0 1em 0;
	padding:0.3em 0.5em;
	font-size:1.2em;
	background-color:#ddd;
	color:#000;
}
#commentForm div {
	margin:0 0 0.2em 0;
}
#commentForm input {
	font:normal 1em Verdana, Arial, Helvetica, sans-serif;
}
#commentForm .name, #commentForm .website {
	width:20em;
	border:1px solid #ddd;
	padding:0.3em;
}
#commentForm .message {
	width:30em;
	border:1px solid #ddd;
	padding:0.3em;
}


/* archives.tpl */

ul#newsArchive {
	margin:0;
	padding:0;
	list-style-type:none;
}
#newsArchive li {
	margin:0 0 0.5em 0;
}


/* categories.tpl */

ul#newsCategory {
	margin:0;
	padding:0;
	list-style-type:none;
}
#newsCategory li {
	margin:0 0 0.5em 0;
}