/*-----------------------------------------------------------------------------
Template: ubiquitous
Design by: www.LetsEat.at -- Free Websites for Restaurants and Cafés!
This template is made available to the public under Creative Commmons Attribution 3.0 Unported:
http://creativecommons.org/licenses/by/3.0/
Please leave the link back to our site intact at the bottom of your site.
Feel free to redistribute the template as long as you leave the link intact.
Thanks!
-----------------------------------------------------------------------------*/

* {
  padding:0;
  margin:0;
  list-style:none;
}

html {
  background:#DDD url(../images/bg.png) repeat-x;
}

body {
  background:#FFF;
  width:720px;
  margin:20px auto;
  padding:20px;
  font:62.5% Arial, Helvetica, sans-serif;
}

p {
  font:1.2em helvetica, arial, sans-serif;
  line-height:2;
  color:#333;
}

h1, h2, h3, h4, h5 {
  font:3em "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
  display:inline;
  margin-right:15px;
}

h1 a {
  color:#333;
  text-decoration:none;
}

div#masthead {
  margin-bottom:20px;
}

div#masthead ul {
  display:inline;
}

div#masthead li {
  display:inline;
  margin-right:15px;
  font-size:1.2em;
}

div#masthead li a {
  color:#F00;
  text-decoration:none;
}

div#masthead li a:hover {
  text-decoration:underline;
}

div#main {
  width:520px;
  padding-bottom:10px;
  float:right;
}

div.article {
  margin-bottom:30px;
}


div#main a {
  color:#333;
}

div#main h2 {
  margin:15px 0 5px;
}

div#main h2 a {
  color:#333;
  text-decoration:none;
}

div#main p {
  margin-bottom:10px;
  text-align:justify;
}

div#main blockquote p {
  font-style:italic;
  background:#EEE;
  padding:10px 15px;
}

div#main span.date {
  color:#666;
  font:0.35em Arial, Helvetica, sans-serif;
  font-weight:bold;
}

div#main p.subheader {
  color:#ff7200;
  font:1.4em Arial, Helvetica, sans-serif;
  font-weight:bold;
  margin:5px 0 10px;
}

div#main ul {
  margin:10px 0;
}

div#main li {
  font:1.2em helvetica, arial, sans-serif;
  color:#333;
  list-style:disc;
  margin:5px 0 5px 20px;
}

div#secondary {
  margin-right:20px;
  margin-left: -20px;
  padding:15px 0 30px;
  width:180px;
  float:left;
}

#secondary li {
  height: 40px;
  width: 165px;
  padding-left: 15px;
  font-size: 15px;
  background-color: #F0F0F0;
  padding-top: 0px;
}

#secondary li a {
  text-decoration: none;
  color: #5494d7;
  height: 30px;
  display: block;
  padding-top: 10px;
  padding-left: 45px;
}

#secondary li a:hover {
  color: #ef2758;
}

#secondary #active {
  background-color: #ffffff;
}

li#active a{
  color: #ef2758;
}

li#active a:hover{
  color: #ef2758;
}

div#secondary blockquote {
  background:url(../images/secondary.png);
  padding:10px;
  margin-bottom:20px;
}

div#secondary blockquote p {
  background:#FFF;
  padding:10px;
}

div#secondary h2 {
  font-size:1.6em;
  font-weight:bold;
  color:#5494d7;
  padding-left: 15px;
  padding-bottom: 8px;
}

div#secondary ul {
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F0F0F0;
}

ul#posts h3 {
  font:1.2em Georgia, Times, serif;
  margin:15px 0 5px;
}

ul#posts li p {
  font-style:italic;
}

ul#posts li p a {
  color:#333;
  text-decoration:none;
}

ul#posts li p a:hover {
  text-decoration:underline;
}

ul#footer {
  clear:both;
  background:#666;
  padding:5px 10px;
  font-weight:bold;
  position:relative;
}

ul#footer li {
  float:right;
  color:#FFF;
  margin-left:10px;
}

ul#footer li a {
  color:#FFF;
  text-decoration:none;
}

ul#footer li span {
  text-indent:-9999em;
  position:absolute;
}

fieldset {
  border: 0;
  background:url(../images/secondary.png);
  padding:10px;
  margin-bottom:20px;
}

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

#main .success {
	text-align: left;	
}

.article .error {
	background-color: #ffebe8;
        border: 1px solid #c00;
        padding: 4px 10px 2px 33px;
        background-image: url('../img/error.png');
        background-position: 3px 3px;
        background-repeat: no-repeat;
   text-align: left;
}

.article .success {
	background-color: #e8ffe8;
        border: 1px solid #0cc000;
        padding: 4px 10px 2px 33px;
        background-image: url('../img/lightblub.png');
        background-position: 3px 3px;
        background-repeat: no-repeat;
        text-align: left;
}


.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
  .clearfix {display:block;}
/* End hide from IE Mac */

#content #postList .header {
	text-align:center;
	background-color:#808080;
	color:#fff;
	padding:0.2em 0;
	margin:1em 0;
}
#content #postList .col1{
	float:left;
	width:3%;
	display:block;
	margin:0 0.3em 0 0;
}
#content #postList .col2{
	float:left;
	width:35%;
	display:block;
}
#content #postList .col3{
	float:left;
	width:8%;
	display:block;
}
#content #postList .col4{
	float:left;
	width:26%;
	display:block;
}
#content #postList .col5{
	float:left;
	width:26%;
	display:block;
}
#content #postList .row {
	line-height:1.5em;
	  font:1.2em helvetica, arial, sans-serif;
	  line-height:2;
	  color:#333;
	margin:0 0 0.5em 0;
}
#content #postList .locked {
	background-color:#eee;
	color:#000;
}
#content #postList .control {
	padding:1em 0;
	margin:1em 0;
}

/* category_list.tpl */

#content #catList .col1{
	float:left;
	width:3%;
	display:block;
	margin:0 0.3em;
	clear:left;
}
#content #catList .col2{
	float:left;
	width:10%;
	display:block;
}
#content #catList .col3{
	float:left;
	width:45%;
	display:block;
}
#content #catList .col4{
	float:left;
	width:20%;
	display:block;
}
#content #catList .header {
	margin:0 0 1em 0;
	border-bottom:1px dashed #000;
	padding:0 0 0.3em 0;
}
#content #catList input.name {
	width:20em;
	border:1px solid #ddd;
	padding:0.2em;
}
#content #catList fieldset {
	margin:1em 0;
}

/* Module Table */
#moduleTable {
	
}

#moduleTable th{
	text-align: left;
	background-color: #E2DBDC;
	padding-left: 5px;
	font-weight: bold;
	font-size: 13px;
}

#moduleTable td{
	text-align: left;
	padding-left: 5px;
	font-size: 11px;
}

.dtitle {
	font-weight: bold;
	font-size: 14px;	
}

#filemanager {
	width: 100%;	
}

.fileContent {
	width: 400px;
	height: 180px;
	margin-bottom: 8px;	
}

.afile {
	font-size: 11px;	
}

.tfile2 {
	width: 140px;	
}

.dtitle a{
	font-size: 14px;	
}

.fnc p {
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;	
}

.fnc input {
	width: 100px;
}

/*#main table tr:hover{ 
	background-color: #dddddd;
}*/

#filter {
	border: 1px solid #e2e2e2;
	height: 23px;
	font-size: 14px;
	color: #a1a1a1;
	width: 250px;
	padding-left: 4px;	
}